<h1> <%= @garden.name %> </h1>
<br>
<h3>What We Have Going On Here</h3>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
<% @plants.each do |plant| %>
<%= "#{plant.name} - Days to Harvest: #{plant.days_to_harvest}" %> <br>
<% end %>
